<!-- About Section-->
<section class="page-section bg-white text-black mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-black">¿Quienes Somos?</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row"> <p class="lead"></p> </div>
    <div class="row"> <p class="lead"></p> </div>
    <div class="row">
      <div class="col-lg-4 ms-auto text-justify"><p class="lead">Somos un restaurante que tiene como propósito crear y mantener la confianza necesaria en nuestros clientes, brindando atención de calidad y un servicio orientado a la mejora continua.</p></div>
      <div class="col-lg-4 me-auto text-justify"><p class="lead">Nuestra meta es ser un Restaurant que marque la diferencia en la comunidad, ofreciendo servicios de calidad, utilizando la mejor tecnología, para lograr así procesos cada vez más eficientes y eficaces.!</p></div>
    </div>
    <div class="row"> <p class="lead"></p> </div>
    <div class="row"> <p class="lead"></p> </div>
  </div>
</section>
