<div class="sb-nav-fixed">
  <app-navigation></app-navigation>
  <div id="layoutSidenav">
    <app-side-navigation></app-side-navigation>
    <app-dashboard style="width: 100%; height: 100vh; text-align: center"></app-dashboard>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>

