<div id="layoutSidenav_nav" *ngIf="getToggleSideNavBar()">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <a class="nav-link" (click)="openCloseAdmin()">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-house-user"></i></div>
          Áreas
        </a>
        <div class="sb-sidenav-menu-heading">Interface</div>
        <a class="nav-link collapsed" (click)="openCloseOrders()">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
          Pedidos
        </a>
        <a class="nav-link collapsed" (click)="openCloseKitchen()">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-file"></i></div>
          Cocina
        </a>
        <a class="nav-link collapsed" (click)="openCloseStore()">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-shop"></i></div>
          Almacén
        </a>
        <a class="nav-link collapsed" (click)="toggleOrders()">
          <div class="sb-nav-link-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
          Salir
        </a>
        <div class="sb-sidenav-menu-heading"></div>
        <a class="nav-link">
        </a>
        <a class="nav-link">
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      {{getUserLogged()}}
    </div>
  </nav>
</div>
