<!-- Masthead-->
<header class="masthead bg-white text-black text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="assets/img/restobar.png" alt="..." />
    <!-- Masthead Heading-->
    <h1 class="masthead-heading text-black mb-0">Restaurante Bar "Perico"</h1>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Sandwich - Bebidas - Y mucho más!</p>
  </div>
</header>
